
<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="KYiGjeaAlVHOTkqVjAPC_eIFOFueC3tczAwObFLC3jCtqOnKcuGE4jwZbgdWgRpUDyuZWkZPgjr5m8HzCwG2Zg" />
    
    <link rel="stylesheet" media="all" href="/assets/application.debug-8bb827af6685495a7376f4281727289d0e368800c8716eaf138d85fe5756d0df.css" data-turbolinks-track="reload" />
    
    <script src="/packs/js/application-c3db16a0e83fad9810af.js" data-turbolinks-track="reload"></script>
  </head>

  <body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
      <div class="container">
        <a class="navbar-brand" href="/"><span>naganocake<span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
      <li>
        <a class="nav-link text-light" href="/admin/items">
        商品一覧
</a>      </li>
      <li>
        <a class="nav-link text-light" href="/admin/customers">
        会員一覧
</a>      </li>
      <li>
        <a class="nav-link text-light" href="/admin">
         注文履歴一覧
</a>      </li>
      <li>
        <a class="nav-link text-light" href="/admin/genres">
         ジャンル一覧
</a>      </li>
      <li>
        <a class="nav-link text-light" rel="nofollow" data-method="delete" href="/admin/sign_out">
        ログアウト
</a>      </li>
        </ul>
        </div>
      </div>